{% extends 'main.html' %}
{% load static %}
{% block title %}Reset your password{% endblock %}
{% block content %}

<div class="container_full" style="padding-top: 10%">
	<div class="container">
        
		<div class="log_sign_section">
            
			<div class="ls_page">
			    
				<h2 style="font-size:20px;margin:10px 0">Reset your password</h2>
                <p style="font-size:18px;margin:5px 0">We've emailed you instructions for setting your password.</p>
                <p style="font-size:18px;margin:5px 0">If you don't receive an email, please make sure you've entered the address you registered with.</p>

			</div>

		</div>

	</div>
</div>


{% endblock %}