{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container_full" style="padding-top: 10%">
	<div class="container">
        
		<div class="log_sign_section">
            
            <div class="page_title">
              <h2>Password reset</h2>
            </div>
            
			<div class="ls_page">
			    
				<h1>Forgotten your password?</h1>
                <h1>Password set</h1>
                <p>Your password has been set. You can <a href="{% url 'login' %}">log in now</a></p>

			</div>

		</div>

	</div>
</div>

{% endblock %}