{% extends 'main.html' %}
{% load static %}
{% block content %}


	<!--Single Page-->
	<div class="container_full" style="background:#fff;padding-top: 10%;padding-bottom: 40px;">
		<div class="container">

			<div class="page_404">

                <h2 style="color:red;padding:10px;text-align:center">আপনি যে পেজটি খুঁজছেন সেটি পাওয়া যায়নি</h2>
                <p style="color:red;text-align:center">দয়া করে আবার চেষ্টা করুন</p>
                
			</div>

		</div>
	</div>
	<!--End Main Heading-->



{% endblock %}