{% extends 'main.html' %}
{% load static %}
{% block content %}


<!--Single Page-->
<div class="container_full" style="padding-top: 10%;padding-bottom: 40px;">
	<div class="container">
        
		<div class="log_sign_section">
            
            <div class="page_title">
              <h2>Register</h2>
            </div>
            
			<div class="ls_page">
			    
			    {% for message in messages %}
					<h2 style="color:red">{{message}}</h2>
				{% endfor %}
			    
				<div class="sls_page upload_page">
                    
                    <form class="form" action="" method="POST">
                      {% csrf_token %}
                      {{ regi_form.as_p}}
            <!--
                        <div class="upload_form_field">
							<div class="upd-1st">Name</div>
							<div class="upd-2nd">{{regi_form.name}}</div>
						</div>
                        <div class="upload_form_field">
							<div class="upd-1st">Phone</div>
							<div class="upd-2nd">{{regi_form.phone}}</div>
						</div>
						
                        <div class="upload_form_field">
							<div class="upd-1st">Email</div>
							<div class="upd-2nd">{{regi_form.email}}</div>
						</div>
                        <div class="upload_form_field">
							<div class="upd-1st">Password</div>
							<div class="upd-2nd">{{regi_form.password1}}</div>
						</div>
                        <div class="upload_form_field">
							<div class="upd-1st">Confirm Password</div>
							<div class="upd-2nd">{{regi_form.password2}}</div>
						</div>
					-->
						
                        <div class="form_action">
							<button style="width:100%;margin-bottom:20px" type="submit">Register</button>
                            <h2 style="text-align:center;margin:20px 0"> Do you have an account? </h2>
                            <a style="width:100%" href="{% url 'login' %}"> Login </a>
						</div>
                        
                        
                    </form>
					
				</div>
				
			</div>

		</div>

	</div>
</div>



{% endblock content %}


