{% extends 'main.html' %}
{% load static %}
{% block content %}

	<!--Single Page-->
	<div class="container_full" style="padding-top: 10%;padding-bottom: 40px;">
		<div class="container">

			<div class="left_section">
				<div class="single_page">
					<div class="sng_page_blood_info">
                        
						{% for message in messages %}
							<h2 style="color:red">{{message}}</h2>
						{% endfor %}

						<form method="post" id="personForm" novalidate data-cities-url="{% url 'ajax_load_cities' %}">
							{% csrf_token %}
							<div class="upload_form_field">
								<div class="upd-1st">দাতার নাম:</div>
								<div class="upd-2nd">{{form.name}}</div>
							</div>
							<div class="upload_form_field">
								<div class="upd-1st">রক্তের গ্রুপ:</div>
								<div class="upd-2nd">{{form.bloodgroups}}</div>
							</div>
							<div class="upload_form_field" style="margin-bottom:0">
								<div class="upd-1st">বর্তমান ঠিকানাঃ</div>
							</div>
    						<div class="present-address" style="border:2px dashed green;padding:5px">
    						    <div class="upload_form_field" style="margin:0">
    								<div class="upd-1st">বিভাগঃ </div>
    								<div class="upd-2nd">{{form.division}}</div>
    							</div>
    							<div class="upload_form_field">
    								<div class="upd-1st">জেলাঃ</div>
    								<div class="upd-2nd">{{form.location}}</div>
    							</div>
    							<div class="upload_form_field">
    								<div class="upd-1st">উপজেলা/থানাঃ</div>
    								<div class="upd-2nd">{{form.city}}</div>
    							</div>
    						</div>
							<div class="upload_form_field">
								<div class="upd-1st">মোবাইল:</div>
								<div class="upd-2nd">{{form.phone}}</div>
							</div>
							<div class="upload_form_field">
								<div class="upd-1st" style="color: red">সর্বশেষ রক্তদানঃ </div>
								<div class="upd-2nd" style="color: red">{{form.donation_date}}</div>
							</div>
							<div class="form_action">
								<a href="https://bloodbank.mugdhota.com/">Cancel</a>
								<button type="submit">Submit</button>
							</div>
						</form>
					</div>
					
					
					<div class="sng_page_blood_info" style="margin-top:25px">
                        
                        <div class="problem_page_title">
                            <h2 style="font-size: 20px">তথ্য প্রদানে কোন সমস্যা হলে যোগাযোগ করুন</h2>
                            <p>মজনুর রহমান</p>
                            <p>ফোন: <a href="tel:01728753576">01728753576</a></p>
                            <p style="margin: 10px 0">অথবা</p>
                            <p>রেদওয়ান শুভ</p>
                            <p>ফোন: <a href="tel:01751318924">01751318924</a></p>
                            <h2 style="margin:15px 0 10px 0">মেইল করুন</h2>
                            <a  style="font-size:18px" href="mailto:bloodbank@mugdhota.com">bloodbank@mugdhota.com</a>
                        </div>
                        
					</div>
					
				</div>

			</div>

			<div class="right_section">
				<div class="rules_section">
					<div class="single_rule_title">
						<h2 class="blood_search">শর্তাবলি</h2>
					</div>
					<div class="single_rule">
						<p>১. 'মুগ্ধতা ব্লাড ব্যাংক' মুগ্ধতা ডট কমের একটি সামাজিক উদ্যোগ।</p>
						<p>২. এখানে নিজের বা পরিচিতদের রক্তের গ্রুপ সম্পর্কে তথ্য দিয়ে এটিকে সমৃদ্ধ করতে সাহায্য করুন। </p>
						<p>৩. এখানে কেউ রক্তদাতা হিসেবে নিজের তথ্য দিচ্ছেন- এর অর্থ হলো আপনি স্বেচ্ছায়, বিনামূল্যে কোনো মুমূর্ষু/অসুস্থ মানুষকে রক্তদান করতে ইচ্ছুক।</p>
						<p>৪. ব্লাড ব্যাংক থেকে পাওয়া নম্বরে যোগাযোগ করে রক্তদাতা রাজি থাকলে নিজ দায়িত্বে কোনো ভালো ট্রান্সফিউশন সেন্টার/সরকারি হাসপাতালে রক্ত সংগ্রহ করতে হবে। </p>
						<p>৫. রক্তদান বা রক্ত সংগ্রহের যে কোনো পর্যায়ে ক্রয়-বিক্রয়ের উদ্দেশ্যে অর্থের লেনদেন থেকে বিরত থাকুন। তবে রক্তদাতাকে পানি, নাস্তা ইত্যাদি খাওয়ানো বা রিকশাভাড়া এই নিষেধাজ্ঞার আওতামুক্ত।</p>
						<p>৬. কেউ রক্তদানে অনাগ্রহী হলে তাকে কোনো প্রকার জোরাজুরি করা যাবে না।</p>
						<p>৭. রক্তদাতাকে যথাযথ সম্মান প্রদর্শন করা গ্রহীতার জরুরি দায়িত্ব।</p>
						<p>৮. রক্তদানের যে কোনো পর্যায়ে কোনো ধরনের দুর্ঘটনা, অনাকাঙ্ক্ষিত ঘটনা ইত্যাদির জন্য মুগ্ধতা ডট কম দায়ী থাকবে না।</p>
						<p>৯. উপর্যুক্ত শর্তাবলি বা এর কোনো অংশে যে কোনো সময় পরিবর্তন বা সংযোজন করার ক্ষমতা মুগ্ধতা ডট কমের কাছে সংরক্ষিত থাককবে।</p>
						<p>১০. সময়মতো আপনার রক্তদানের তথ্য আপডেট করুন।</p>
						<p>১১. বর্ণিত শর্তাবলির বাইরে উদ্ভূত যে কোনো পরিস্থিতিতে মুগ্ধতা ডট কমের সিদ্ধান্তই চূড়ান্ত বলে গণ্য হবে।</p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!--End Main Heading-->


{% endblock %}